@import url(./animation.css);

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  --set-01: rgba(225, 0, 81, 1);
  --set-02: rgba(225, 0, 81, 0.5);

  --background-dark: rgba(41, 44, 44, 1);
  --background-dark-text: rgba(15, 12, 12, 1);
  --background-light: rgba(255, 255, 255, 1);
  --background-light-text: rgba(175, 173, 173, 1);
}

/*
========================
  Global Configuration
========================
*/
body {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;

  background: var(--background-dark);
}

/*
========================
  HEADER
========================
*/
#header {
  background: var(--background-dark);
  animation: 2s show ease-out 1;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.header-box h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: var(--background-light);
}

.header-box h2 span {
  color: var(--set-01);
}

.secttion {
  list-style-type: none;
  display: inline-block;
  margin-right: 3rem;
}

.secttion a {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--background-light);
}
.secttion a:hover {
  color: var(--set-01);
  transition: 0.6s;
}

/*
========================
  MAIN
========================
*/
#main {
  margin-top: 16rem;
  animation: 2s show ease-out 1;
}

.main-box {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 6rem;
}

.main-content {
  margin-top: 12rem;
}

.main-box h1 {
  display: inline;
  color: var(--background-light);
  font-size: 6.2rem;
  font-family: 'Gabarito', cursive;
}

.main-box h1 span {
  margin-left: 30px;
  background: -webkit-linear-gradient(var(--set-01), #e00f52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-box p {
  color: var(--background-light-text);
  font-size: 2.5rem;
}

.main-box img {
  display: inline-block;
  margin-bottom: 14rem;
  height: auto;
  max-width: 100%;
}

/*
========================
  RESPONSIVITY
========================
*/
@media (min-width: 1200px){
  .organization {
    margin: 0 auto;
    max-width: 1080px;
  }
  .card {
    margin: 0 auto;
    width: 900px;
  }
}

@media (min-width: 1100px){
  .organization {
    margin: 0 auto;
    max-width: 1080px;
  }
  .card {
    margin: 0 auto;
    width: 900px;
  }
}

@media (max-width: 1060px){
  #header, main {
    margin: 0 auto;
    max-width: 700px;
  }
  #search {
    margin: 0 auto;
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .header-box h2 {
    margin-left: 1.4rem;
  }
  .main-box {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .main-content {
    margin-top: 2rem;
  }
  .main-box img {
    margin: auto;
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .header-box h2 {
    display: none;
  }
  .header-box {
   justify-content: center;
  }
  .organization {
    flex-direction: column;
  }
  .search-box {
    flex-direction: column;
  }
  .card {
    margin: auto;
  }
  .card-img img {
    margin-left: 1.2rem;
    width: 50px;
  }
}

@media (max-width: 500px) {
  .card-img img {
    display: none;
  }
  #result canvas {
    height: 400px;
    width: 100%;
  }
}

/*
========================
  SECTION: generation
========================
*/
#generation {
  background-color: var(--set-01);
  margin-top: 6rem;
  animation: 2s show ease-out 1;
  padding: 5rem 5rem;

  animation: 2.8s show ease-out 1;
}

.title {
  font-family: 'Gabarito', cursive;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--background-light);
  text-align: center;
}

.organization {
  display: flex;
}

.generation-type {
  background-color: var(--background-light);
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;

  padding: 20px;
  margin: 30px;
}

.type-title {
  font-weight: bold;
  font-size: 2.1rem;
  color: var(--background-dark);
}

.type-description {
  font-size: 1.7rem;
  color: var(--background-dark-text);
}

.type-year span {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-bottom: 0.7px var(--background-dark-text) solid;
  margin-bottom: 1.5rem;
}

.type-year {
  font-weight: 500;
}

/*
========================
  SECTION: search
========================
*/
#search {
  animation: 3.0s show ease-out 1;
  margin-top: 12rem;
}

.search-box {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 6rem;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  color: var(--background-light);
  border-radius: 10px;
}

.card-info {
  width: 38rem;
  font-size: 1.8rem;
}

.card-info h2 {
  border-bottom: 0.8rem var(--set-01) solid;
  padding-bottom: 1.3rem;
}

.card-info strong {
  color: var(--background-light);
  font-weight: bold;
}

.card-info p {
  color: var(--background-light-text);
  text-align: justify;
}

.card-img {
  display: inline-block;
  margin-top: 13rem;
  text-align: center;
}

.card-img img {
  width: 100px;
}

/*
========================
  SECTION: result
========================
*/
#result {
  animation: 3.4s show ease-out 1;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 17rem;
}

#result .title {
  margin-bottom: 17rem;
}

/*
========================
  FOOTER
========================
*/
#footer {
  animation: 3.8s show ease-out 1;
  text-align: center;
  margin-top: 6rem;
  padding: 5rem 5rem;
  background-color: var(--background-dark-text);
}

#footer p {
  color: var(--background-light-text);
  font-size: bold;
}

.logo-alt {
  max-width: 6%;
  background-color: #fff;
  border-radius: 32px;
}